* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: hsl(0, 82%, 63%);
    padding: 15px 0;
    width: 100%;
    height: 100px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: end;
    margin: 15px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fb254c;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  #about,
  #services,
  #contact {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #services .service {
    margin-bottom: 20px;
  }
  
  footer {
    width: 100%;
    background-color: #fb254c;
    padding: 10px 0;
    text-align: center;
    color: #fff;
  }
  
  
  /*imagens*/
  
  
  * {box-sizing: border-box;}
  body {font-family: Verdana, sans-serif; margin:0}
  
  .slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  img {
    vertical-align: middle;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  
/*barra de pesquisa*/

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    left: 50%;
}

form {
    display: flex;
    width: 100%;
    max-width: 400px;
    border: 2px solid #f7f8fa;
    border-radius: 50px;
    overflow: hidden;
}

.search-input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color: #fb254c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #fb254c;
}

/*botao texto*/
.container {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}
button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fb254c;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}
button:hover {
  background-color: #ab4040;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
#texto {
  margin-top: 20px;
  display: none;
  font-size: 18px;
  color: #333;
}
